/* App.js */

/* Navbar */
.nav_btn {
	margin-right: 10px;
}

/* Footer */
footer {
	color: white;
	padding: 25px;
	text-align: center;
}

.footer_brand {
	font-size: 20px;
}

.footer_makers .footer_license {
	font-size: 12px;
}

.footer_makers {
	margin-top: 25px;
}
/* END OF App.js */
