/* App.js */

/* Navbar */
.nav_btn {
	margin-right: 10px;
}

/* Footer */
footer {
	color: white;
	padding: 25px;
	text-align: center;
}

.footer_brand {
	font-size: 20px;
}

.footer_makers .footer_license {
	font-size: 12px;
}

.footer_makers {
	margin-top: 25px;
}

/* Content*/
.content {
	margin-top: 55px;
}

/* Home */
.home_header_img {
	/* TODO:// PONER FOTO  */
	background-color: red;
	height: 600px;
	padding-top: 200px;
	width: 100%;
}

.home_header_logo {
	margin-bottom: 20px;
}

.btn_nearby {
	margin-top: 20px;
}

/* Search Place Input */
.search_input {
	margin-right: 10px;
}


/* END OF App.js */
